.information2D {
  position: relative;
  width: 280px;
  z-index: 5;
}

.information2D h1 {
  font-size: 40px;
}

.information2D h3 {
  font-size: 14px;
  font-weight: 600;
}
.information2D p {
  font-size: 12px;
}

.information2D img {
  width: 80px;
  margin-top: 30px;
}

.demonstration2D {
  width: 280px;
  z-index: 1;
}

.demonstration2D img {
  margin-top: -50px;
  width: 100%;
}

@media (min-width: 768px) {
  .box {
    display: flex;
    flex-direction: row;
    padding-top: 0px;
  }

  .information2D {
    z-index: 4;
    margin-top: 60px;
  }

  .demonstration2D {
    width: 500px;
    margin-top: 120px;
    margin-left: 20px;
  }

  .demonstration2D img {
    margin-top: 20px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .box {
    padding: 0px;
  }
  .demonstration2D {
    width: 600px;
    margin-left:  -20px;
  }

  .information2D {
    margin-left: 250px;
    width: 600px;
  }

  .information2D p {
    font-size: 14px;
  }

  .information2D h1 {
    font-size: 80px;
    font-weight: 100;
  }

  .information2D img {
    margin-top: 40px;
    width: 100px;
    cursor: pointer;
  }
}
