.header {
  z-index: 6;
  position: fixed;
  width: 100%;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.8);
}

.logo img {
  width: 100px;
  position: fixed;
  z-index: 6;
  margin: 20px 40px;
}

.navigation {
  visibility: hidden;
}

.hamburger-menu {
  position: absolute;
  top: 30px;
  right: 10px;
  z-index: 10;
  visibility: visible;
}

.hamburger-icon {
  cursor: pointer;
  padding: 10px;
  background-color: #7f867b;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
}

.hamburger-icon .bar1,
.hamburger-icon .bar2,
.hamburger-icon .bar3 {
  width: 30px;
  height: 2px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger-icon.open .bar1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-icon.open .bar2 {
  opacity: 0;
}

.hamburger-icon.open .bar3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.menu {
  margin-top: 20px;
  display: block;
  background-color: #e3e4e0;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 310px;
  height: 200px;
  text-align: right;
  font-size: 14px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #444;
}

.menu ul li:last-child {
  border-bottom: none;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    width: 200vh;
    z-index: 6;
    position: fixed;
  }

  .logo img {
    width: 100px;
    position: fixed;
    z-index: 6;
    margin: 20px 40px;
  }

  .navigation {
    visibility: visible;
    display: flex;
    width: 600px;
    justify-content: space-between;
    position: fixed;
    right: 40px;
    z-index: 6;
  }

  .hamburger-menu {
    visibility: hidden;
  }

  .projects,
  .aboutMe,
  .contact {
    display: flex;
    justify-content: space-between;
    width: 150px;
    border-top: 1px solid;
    padding-top: 30px;
    margin: 20px 40px;
  }

  .text {
    margin-top: -20px;
  }

  .navigation p {
    font-weight: 600;
    font-size: 14px;
  }

  .navigation img {
    width: 14px;
    visibility: visible;
  }
}
