.homepage {
  padding: 110px 90px;
}

.info {
  position: relative;
  width: 280px;
  z-index: 8;
}

.info h1 {
  font-size: 40px;
}
.info p {
  font-size: 12px;
}

.info img {
  width: 80px;
  margin-top: 30px;
}

.me {
  width: 280px;
  z-index: 1;
}

.me img {
  margin-top: -50px;
  width: 100%;
}

.goUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  padding-left: 90px;
  margin-top: -30px;
  margin-bottom: 60px;
}

.goUp img {
  width: 80px;
}

@media (min-width: 1024px) {
  .homepage {
    display: flex;
    flex-direction: row;
  }

  .info {
    margin-left: 250px;
    margin-top: 200px;
    z-index: 4;
    width: 700px;
  }

  .info p {
    font-size: 14px;
  }

  .info h1 {
    font-size: 100px;
    font-weight: 100;
  }

  #type {
    margin-bottom: -60px;
  }

  #info {
    margin-top: -40px;
  }

  .info img {
    margin-top: 40px;
    width: 100px;
  }

  .me {
    z-index: 2;
    width: 700px;
    margin-top: 200px;
    position: absolute;
    right: 0px;
  }

  .me img {
    width: 700px;
  }

  .goUp {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .goUp img {
    width: 150px;
  }
}
