.projectList {
  padding: 110px 90px;
}

hr {
  text-align: center;
  width: 280px;
  margin: 40px 0px;
}

#lastlast {
  color: transparent;
}

@media (min-width: 768px) {
  .projectList {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  hr {
    margin-top: 140px;
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .projectList {
    padding: 0px;
  }

  hr {
    margin-top: 140px;
    margin-left: 250px;
    width: 1024px;
    text-align: center;
  }
}
